div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 520px;
  height: 320px;
  padding: 20px 10px;
  background-color: #ffe4c4;
}

.input-div{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.text{
  width: 50%;
  height: 40px;
  padding: 0 8px;
  color: #000;
  border: none;
  border: #000 dashed 0.1px;
}

.btn{
  width: 45%;
  min-height: 40px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  color: #fff;
  background-color: rgb(164, 71, 252);
}

.btn:hover{
  cursor: pointer;
  scale: 1.1;
}

.paragraph-div{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 480px;
  max-width: auto;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #fff;
}

.paragraph{
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  width: 440px;
  height: auto;
  line-height: 20px;
}

.uppercase{
  text-transform: uppercase;
}